*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 3rem 0.25rem;
  background: #efefef;
}

#github-link {
  padding: 10px 16px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: black;
  text-decoration: none;
}

#github-link:visited {
  color: black;
}

#github-link span {
  color: #4764f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: "Domine", serif;
  color: #333;
}

h1 {
  font-size: 2rem;
  padding: 0 16px;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5,
h6 {
  font-size: 1rem;
}

#canvases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.canvas-wrapper {
  padding: 20px;
}

.canvas-wrapper .title {
  text-align: center;
}

.canvas-wrapper canvas {
  background: #fff;
  outline: 1px solid #ddd;
}
